.btn {
  font-size: 15px;
  font-weight: 500;
  padding: 11px 15px;
  border-radius: 4px;
}

.main {
  color: #FFF;
  background: #000;
}

.secondary {
  color: #000;
  background: #FFF;
  border: 1px solid #818181;
}