@import './reset.scss';

body {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.user-panel-title {
  color: #000;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}